<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 打印sql日志 -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />

	</settings>

	<typeHandlers>
		    <!-- 使用package元素将扫描 com.samton.robotset.handler 包下的全部类型处理器 -->
	    	    <package name="com.samton.robotset.handler"/>
	  	</typeHandlers>
	    <plugins>
			<plugin interceptor="com.github.pagehelper.PageInterceptor">
				<!--分页参数合理化  -->
				<property name="reasonable" value="true"/>
			</plugin>
		</plugins>
</configuration>
   
 